.button {
  width: 100px;
  height: 30px;
  color: #639;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid yellow;
  border-radius: 50px;

  &:hover {
    color: yellow;
    background-color: #663399;
    transition: color, background-color .5s ease;
  }
}
